
@{
    ViewBag.Title = "Index";
}



<section>
    <div>

        <div class="row justify-content-center " style="margin-top:100px">

            <div class="col-12 text-center justify-content-center " style="background-color: rgba(0, 95, 181, 0.10); padding : 24px 0; text-align: center;">


                    <h1>@Html.ActionLink("Qeydiyyat üçün tıklayın", "CreateBranch", "Home") </h1>
            </div>
        </div>
    </div>
</section>



